<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>

<body>
  <main class="cart">
    <section class="wrapper">
      <h1>Cart</h1>
      <a href="/" class="btn-checkout">Continue Shopping</a>
      <% if(cartItems) {%>
      <%cartItems.forEach( dish  => { %>
      <li class="menu__item" data-id="<%= dish.id %>">
        <a href='#' class="myLink">
          <i class='fa fa-times-circle'></i>
        </a>
        <div class="menu__item__heading">
          <h2 class="menu__item-title">
            <%= dish.name %>
          </h2>
          <span class="menu__item-price">
            $
            <%= (dish.price / 100 * cartQty[dish.id]).toFixed(2) %>
          </span>
        </div>
        <p class="menu__item-description">
          <%= dish.description %>
        </p>
        <button class="minusQty">
          <i class="fa fa-minus"></i>
        </button>
        <span class="<%=dish.id %>counter">
          <%= cartQty[dish.id] %>
        </span>
        <button class="addQty">
          <i class="fa fa-plus"></i>
        </button>
      </li>
      <%}) %>
      <% } %>
      <div class="total-price">
        <h3>Total Price: 0</h3>
      </div>
      <button class="btn-checkout">Confirm Order</button>
      <div class="form-wrapper hideJS">
        <form class="form" action="/checkout" method="POST">
          <h2>Confirm Order</h2>
          <label for="password">Phone number</label>
          <input type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
          <label for="card">Credit Cart</label>
          <div class='card-wrapper'></div>
          <label for="card">Credit number</label>
          <input type="text" name="number" placeholder="number" required>
          <label for="card">First Name</label>
          <input type="text" name="firstname" placeholder="first name" required/>
          <label for="card">Last Name</label>
          <input type="text" name="lastname" placeholder="last name" required/>
          <label for="card">Expiry date</label>
          <input type="text" name="expiry" placeholder="expiry date" required/>
          <label for="card">CVC</label>
          <input type="text" name="cvc" placeholder="cvc" required/>
          <input class="button" type="submit" value="Confirm Order →" />
        </form>
      </div>
    </section>
  </main>
  <% include partials/_footer %>
</body>

</html>